@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Open+Sans:wght@400;500&family=Oswald&display=swap');

/* phone_number_country_flag */

/* .iti__flag {
	background-image: url("path/to/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.iti__flag {
		background-image: url("path/to/flags@2x.png");
	}
} */

/* phone_number_country_flag */




html{
	scroll-behavior: smooth;
}




/* g. Header Styles
/* =================================================================== */
#main-header .header-inner{
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	width: 100%;
}
header {
	height: 72px;
	width: 100%;
	position: fixed;
	padding-bottom: 10px;
	left: 0;
	top:0;
	z-index: 990;
	text-align: center;
	background: transparent;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	-ms-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	
}



.header{
	padding: 10px 0px;
	width: 100%;
		position: fixed !important;
		left: 0;
		top: 0 !important;
		
	}
	.logo h3{
		
	  position: absolute;
	  margin: 0px 40px;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	  background: linear-gradient(to right, #0c7beb,
	  #ff6b08, #f26522, #07315B);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	 
	}

.opaque {
	background: linear-gradient(rgba(2, 21, 68, 0.9), rgba(1, 8, 29, 0.9));
	box-shadow: 3px 3px 3px rgb(10, 8, 8);
}

.header .small{
	display: none;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 11px "raleway-heavy", sans-serif;
	letter-spacing: 1.5px;
	display: inline-block;
	justify-self: center;
}

/* hide toggle button */
#nav-wrap > a {
	display: none;
	
}
ul#nav {
	padding: 20px 0px;
	min-height: 72px;
	width: auto; 

	/* left align the menu */

}

ul#nav li {
	position: relative;
	list-style: none;
	height: 72px;
	display: inline-block;
	font-weight: bolder;
	margin-top: 15px;
}
ul#nav li a {
font-size: 11.5px;
	display: inline;
	padding: 17px 12px;
	line-height: 38px;
	text-decoration: none;
	color: white;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
ul#nav li a:hover {
	color: #f26522;
}
ul#nav li a:active {
	background-color: transparent !important;
}


 #arrow-down{
	display: none;
	position: relative;
}






/* cart */


#cart{
	display: flex;
	 position: relative;
	 padding: 0;
	 justify-content: space-between;
}
#cart i {
	font-size: 20px;
	margin-right: 10px;
}

#cart .cart-amount{
	margin-top: 0;
	padding: 0;
	position: absolute;
	 top: 0; 
	 right: 0 !important;	 
}




#cart_sm_screen{
	display: flex;
	 position: relative;
	 padding: 0;
	 justify-content: space-between;
}
#cart_sm_screen i {
	font-size: 20px;
	margin-right: 10px;
}

#cart_sm_screen .cart-amount{
	margin-top: 0;
	padding: 0;
	position: absolute;
	 top: 0; 
	 right: 0 !important;	 
}




/* cart */










/* Dropdown */
 .dropdown:hover .dropdown-menu{
	display: grid;
}
 .dropdown:hover .fa-angle-right{

	display: none;
}
 .dropdown:hover #arrow-down{

	display: inline-block;
}


 .dropdown-menu{
	display: none;
	position: absolute;
	background: linear-gradient(rgba(2, 21, 68, 0.9), rgba(1, 8, 29, 0.9));
	min-width: 160px;
	height: fit-content;
	margin: 0 !important;
	box-shadow: 3px 3px 3px rgb(10, 8, 8);
	z-index: 1;
border-radius: 0px 0px 10px 10px;
text-align: center;
font-weight: lighter;
padding-bottom: 20px !important;
}
 .dropdown{
	cursor: pointer;
}
 ul.dropdown-menu li a{
	line-height: 25px !important;
}





.dropdown-account:hover .dropdown-menu-account{

	display: grid;
}
.dropdown-account:hover .fa-angle-right{

	display: none;
}
.dropdown-account:hover #arrow-down{

	display: inline-block;
}

a{
	text-decoration: none;
}

.dropdown-menu-account{
	display: none;
	position: absolute;
	background: linear-gradient(rgba(2, 21, 68, 0.9), rgba(1, 8, 29, 0.9));
	min-width: 160px;
	box-shadow: 3px 3px 3px rgb(10, 8, 8);
	z-index: 1;
border-radius: 0px 0px 10px 10px;
text-align: center;
font-weight: lighter;
padding-bottom: 20px !important;
}
.dropdown-account{
	cursor: pointer;
}

ul.dropdown-menu-account li a{
	line-height: 25px !important;
}


/* Dropdown End */





/* small_sreen_acc_cart */
.small_sreen_cart{
	display: none;
}

/* small_sreen_acc_cart */















/*       */







 .form-group input{
    position: relative;
    height: 10px;
    padding: 15px 0px;
	
	
}
.form-group textarea{
    height: 0px;
    /* padding: 20px 0; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px  rgba(8, 0, 0, 0.082) inset !important;
}




/*Change text in autofill textbox*/
/* input:-webkit-autofill{
  -webkit-text-fill-color: yellow !important;
} */


 .form-group input,
 .form-group textarea{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid ghostwhite;
    color: ghostwhite;
    background-color: transparent;
}
 form .form-group{
    position: relative;
}
 form .form-group label{
    position: absolute;
    top: 8px;
    left: 0;
    pointer-events: none;
	font: 12px "raleway-heavy", sans-serif;
    color: ghostwhite;
    margin-bottom: 0;
    transition: all .6s;
	font-weight: bold;
}
.search-input input:focus ~ label,
.search-input textarea:focus ~ label,
.search-input input:valid ~ label,
.search-input textarea:valid ~ label{
    top: -5px;
    opacity: 0;
    left: 0;
    color: #0c7beb;
    font-size: 12px;
    color: #07315B;
   
}
.search-input input:focus,
.search-input textarea:focus,
.search-input input:valid,
.search-input textarea:valid{
    border-bottom: 2px solid #f26522;

}

.search-input{
	padding: 25px 0px;
	width: 100%;
}




#nav .form-group{
	width: 100%;
}


#nav .form-group input{
    position: relative;
    height: 10px;
    padding: 15px 0px;
	
	
}
#nav .form-group textarea{
    height: 0px;
    /* padding: 20px 0; */
}





#nav .form-group input,
#nav .form-group textarea{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid ghostwhite;
    color: ghostwhite;
    background-color: transparent;
}
#nav form .form-group{
    position: relative;
}
#nav form .form-group label{
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    font-size: 11px;
    color: ghostwhite;
    margin-bottom: 0;
    transition: all .6s;
	font-weight: lighter;
}
#nav .search-input input:focus ~ label,
#nav .search-input textarea:focus ~ label,
#nav .search-input input:valid ~ label,
#nav .search-input textarea:valid ~ label{
    top: -5px;
    opacity: 0;
    left: 0;
    color: #0c7beb;
    font-size: 12px;
    color: #07315B;
   
}
#nav  .search-input input:focus,
#nav  .search-input textarea:focus,
#nav  .search-input input:valid,
#nav  .search-input textarea:valid{
    border-bottom: 2px solid #f26522;
}

#nav  .search-input{
	padding: 0px;
	width: 80%;
	justify-self: center;
}


#small{
	display: none;
}















/* ------Footer------ */
.footer{
	
	padding-top: 106px;
	padding-bottom: 42px;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	color: ghostwhite;	
	display: grid;
	grid-template-columns: 1.8fr 1fr 1fr;
    background: linear-gradient(rgba(2, 21, 68, 0.9),rgba(1, 8, 29, 0.9), rgba(1, 8, 29, 0.9),rgba(1, 8, 29, 0.9));

}
.footer h3{
	font: 13px/24px "raleway-bold", sans-serif;
	margin:0;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.footer a{
	color: ghostwhite;	
	text-decoration: none;
	margin-top: 0;
	cursor: pointer;
}
.footer a:hover{
	color: #f26522;
	transition: 0.5s;
}












/* tablets */

@media screen and (max-width:930px){
	.header-inner {
		grid-template-columns: 1fr 1fr 2.2fr;
	}
	.header h3{
		margin: 0 10px;
	}
}

@media screen and (max-width:800px) {
.footer {
		grid-template-columns: 1fr;
	}

	.footer_box {
		margin: 5px 8%;
	}
}



@media only screen and (max-width:950px) {

   /* header styles */

   .header-inner{
	display: grid;
	grid-template-columns:1fr 1fr 1fr !important;
	display: none ;
}



  .header{
	padding: 10px 0px;
	width: 100%;
		position: relative !important;
		left: auto ;
		top: 0 !important;
		
	}

.header .large{
	display: none;
}

.header .small{
	display: block;
	font-size: 55px;
}

#cart_li{
	display: none !important;
}


/* small_sreen_acc_cart */
.small_sreen_cart{
	width: fit-content;
	padding-top: 23px !important;
	justify-self: center;
	display: block;
}

.small_sreen_cart a{
	color: white;
}


.small_sreen_cart #cart_sm_screen{
	display: flex;
	 position: relative;
	 padding: 0;
}
.small_sreen_cart #cart_sm_screen i {
	margin-right: 24px;
}

.small_sreen_cart #cart_sm_screen .cart-amount{
	margin-top: 0;
	padding: 0;
	position: absolute;
	 top: 0; 
	 right: 0 !important;	 
}





/* nav-wrap */






.small_sreen_cart a i{
	font-size: 38px !important;
}
.small_sreen_cart a:hover {
	color: #f26522;
}














/* small_sreen_acc_cart */
	

	header .logo a { margin-right: 0; }



	/* mobile navigation */
	#nav-wrap {
		z-index: 991;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: max-content;

		
	}
	.nav{
		margin-top: 100px !important;
		width: 100% !important;
	}
	
	#nav-wrap > a {
		border-radius: 5px;
		  background: linear-gradient(to left, #07315B,
	   #f26522, #07315B);
		border: none;
		color: white;
		height: 50px;
		width: 50px;
		/* min-width: 50px; */
		font-size: 12px;
		text-align: left;
		float: right;
		padding: 0;
		position: relative;
		margin-top: 12px;
		margin-right: 5px;
	}
	#nav-wrap .menu-text {
		text-transform: uppercase;
		margin-right: 60px;
		padding-left: 20px;
		vertical-align: middle;
		line-height: 60px;
		display: none;
	}
	#nav-wrap .menu-icon {
		display: inline-block;
		width: 28px;
		height: 3.5px;
		margin-top: -3px;
		position: absolute;
		right: 12px;
		top: 50%;
		bottom: auto;
		left: auto;
		background: white;
	}
	#nav-wrap .menu-icon:before, 
	#nav-wrap .menu-icon:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
	}
	#nav-wrap .menu-icon:before {
		bottom: 6px;
	}
	#nav-wrap .menu-icon:after {
		top: 6px;
	}
	#nav-wrap ul#nav {
		background: #07315B;;
		padding: 54px 45px 60px 45px;
		margin: 0;
		height: auto;
		display: none;
		clear: both;
		width: 100%;
		float: none;
		position: relative;
		top: 0;
		right: 0;
	}
	#nav-wrap ul#nav > li {
		display: block;
		float: none;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted #3b4558;
		padding: 6px 0;
	}
	#nav-wrap ul#nav > li:first-child {
		border-top: 1px dotted #3b4558;
	}
	#nav-wrap ul#nav li a {
		display: block;
		width: max-content;
		padding: 0;
		padding: 12px 0;
		line-height: 10px;
		border: none;
	}
	#nav-wrap ul#nav li a:hover {
		color: #f26522;
	}

	.js #nav-wrap a.mobile-btn {
		display: none;
	}
	.js #nav-wrap a#toggle-btn {
		display: block;
	}
	.no-js #nav-wrap:not(:target) > a:first-of-type, 
	.no-js #nav-wrap:target > a:last-of-type {
		display: block;
	}
	.no-js #nav-wrap:target ul#nav {
		display: block;
	}


	#small{
		display: block;
	}
	#large{
		display: none;
	}
	ul.dropdown-menu-account li a{
		line-height: 5px !important;
		width: 100% !important;
		text-align: center !important;
	}
	ul.dropdown-menu li a{
		line-height: 5px !important;
		width: 100% !important;
	}
}










