


    <div class="cart_wrapper">
        <div class="cart_number">
            <h3>Cart ({{totalitems}})</h3>
        </div>
        <div class="cart_inner_wrapper">

            <div class="cart_box_wrapper">
                <div class="cart_box">
                    <h3>Item</h3>
                </div>
                <div class="cart_box">
                    <h3>Quantity</h3>
                </div>
                <div class="cart_box">
                    <h3>Price</h3>
                </div>
                <div class="cart_box">
                    <h3>Total</h3>
                </div>
            </div>

            {% for product_id,item in cart_data.items %}
            <div class="cart_box_wrapper" id="cart_items">
                <div class="cart_box">


                    <img src="media/{{item.image}}" width="50" height="50" />

                    <a href=""><h3>{{item.title}}</h3></a>


                </div>
                <div class="cart_box" style="display: flex;">
                    <input type="number" class="product-qty-{{product_id}}" value="{{item.qty}}" >
                    <div class="cart_icons" style="cursor: pointer;">
                        <i class="fa fa-sync" id="update-item" data-item="{{product_id}}"></i>
                        <i class="fa fa-trash" id="delete-item" data-item="{{product_id}}"></i>
                    </div>
                </div>
                <div class="cart_box">
                    <h3>{{item.price}}</h3>
                </div>
                <div class="cart_box">
                    <h3>{% widthratio item.price 1 item.qty %}</h3>
                </div>
            </div>

            {% endfor %}


            <div class="total">
                <div class="total_box">Total:</div>
                <div class="total_box">{{total_amt}}</div>
            </div>



    

