
{% extends 'base.html' %}

{% load static %}

{% block title %} Meal-tab🥄 | Your Cart{% endblock %}
{% block content %}

<div class="color"></div>

<div class="cart_page_wrapper" id="cartList">
    <div class="cart_page_wrapper" id="cartList">
        <div class="reserve_box_for_filled_form" data-aos="zoom-in-down" data-aos-duration="1000" data-aos-delay="500">
            <div class="box" id="img">
                <img src="{% static 'images/password-reset-complete.png' %}" alt="">
            </div>
    
            <div class="box" id="text">
        <h3 style="color:#07315B ;">Your Payment Was Not Successful</h3>
        <a href="{% url 'shop' %}"><button>Go To Shop <i class="fa fa-cart-plus" aria-hidden="true"></i> </button></a>
              
            </div>
    
        </div>
    
    
    
    </div>
</div>




{% endblock %}